body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
    background-image: url('images/Zinc.jpg'); 
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente (caso necessário) */

}

h1 {
    color: #ff9800;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 20px;
    margin: 20px 0;
}

.progress {
    background-color: #ff9800;
    height: 100%;
    width: 0%;
    border-radius: 5px;
}

.question {
    font-size: 40px;
    margin: 20px 0;
}

.option {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.option:hover {
    background-color: #f0f0f0; 
}

.option.selected {
    background-color: red; 
    color: white; 
    border: 1px solid darkred;
}

.next {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 15px 30px; /* Aumenta o espaço interno */
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px; /* Aumenta o tamanho da fonte */
    display: none;
    width: 180px;    /* Define uma largura fixa */
    height: 60px;    /* Define uma altura fixa */
    text-align: center; /* Certifica que o texto fica centralizado */
    margin-top: 20px; /* Adiciona um espaçamento acima do botão, caso necessário */
}

.next:hover {
    background-color: #1976D2;
}
.result {
    display: flex;          /* Usar flexbox para centralizar o conteúdo */
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center;    /* Centralizar verticalmente */
    flex-direction: column; /* Coloca o texto e a imagem em uma coluna */
}

.restart {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}

.restart:hover {
    background-color: #1976D2;
}
